#search-collection-id{width:100%; text-align:center; color:#DBD5B5}
.search-collection-id-text{color:#ccc}

#store-locator-container
{
	float: left;
	margin-left: 20px;
	width: 860px;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333;
}

#page-header
{
	float: left;
}
form#user-location {min-height: 44px;}

#form-container
{
	clear: left;
	margin: 20px 10px 0;
	width: 100%;
	height: auto;
	text-align: center;
	float: left;
}

#map-container
{
	clear: left;
	/*width: 800px;*/
	height: 530px;
	margin: 90px auto 20px 0;
	
}

#map-container a
{
	color: #f2f1ea;
	text-decoration: none;
	font-weight: bold;
}

#map-container a:hover, #map-container a:active
{
	text-decoration: underline;
}

#loc-list
{
	float: left; 
	width: 250px;
	/*height: 530px;*/
	margin-right:50px
	overflow: auto;
}

#loc-list ul
{
	display: block;
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#loc-list .list-label
{
	float: left;
	margin-left: 9px;
	padding: 2px 3px;
	width: 17px;
	text-align: center;
	background: #444;
	color: #dbd5b5;
	font-weight: bold;
}

#loc-list .list-details
{
	float: left;
	margin-left: 6px;
	width: 220px;
	text-align: left;
	padding-left:5px;
}



#loc-list .list-content
{
	padding: 10px;
}

#loc-list li
{
	display: block;
	clear: left;
	float: left;
	margin: 0 0 10px 0;
	cursor: pointer;
	width: 90%;
}

#map-container .loc-name
{
	font-size: 18px;
	color: #dbd5b5;
	font-weight: bold;
}

#dealer-search-status{width:200px;float:left; font-size:17px; text-align:left; padding-top:10px; color:#ccc; font-style:italic}


#search-form
{
	clear: left;
	float: left;
	height: 60px;
	width: auto;
	background: red;
}

#form-input
{
	float: left;
	margin-left:23px;
	
}
#form-input label
{
	float: left;
	width: 150px;
	height: auto;
	font-weight: bold;
	font-size: 18px;
	margin: 9px 0 0 0;
}




#address
{
	height: 39px; background: #767676; border: none;  color: #222; font-weight: bold;
-webkit-box-shadow:  0px 0px 6px 1px #000;
-moz-box-shadow:  0px 0px 6px 1px #000;
box-shadow:  0px 0px 6px 1px #000;
padding: 0 0 0 2%;
letter-spacing: 1px;
 -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, .4);
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, .4);
    
	margin: 0 0 0 26px;
	width:580px;
	padding:3px 7px 3px 7px;
	font-size:15px;
	float:left;
	text-align: left;
}

#submit-btn
{
	float: left;
	cursor: pointer;
	margin-left: 10px;
}

#map
{
	float: left; 
	width: 688px;
	margin: 0; 
	height: 530px; 
}

/* Modal window */

#overlay
{
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 10000;
     background: url(../images/overlay-bg.png) repeat;
}

#modal-window
{
	position: absolute;
	left: 50%;
    margin-left: -460px; /* width divided by 2 */
    margin-top: 60px;
    width: 920px;
	height: 590px;
	z-index: 10010;
	
	border-radius: 10px;
	box-shadow: 0 0 10px #656565;
}

#modal-content
{
	float: left;
	padding: 0 30px; /* there's already a margin on the top of the map-container div */
}

#close-icon
{
	position: absolute;
	top: -6px;
	right: -6px;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: #2c2c2c url(../images/close-icon.png) 3px 3px no-repeat;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 0 0 3px #656565;
}


/* The following is for the geocode page and not the store locator */

#geocode-result
{
	clear: left;
	float: left;
	margin-top: 30px;
	width: 100%;
}

.loc-addr, .loc-addr2, .loc-addr3, .loc-phone, .loc-web {font-size: 16px;}
.loc-web {color: #938a69; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}



#map-container #map .loc-name, #map-container #map a,
#map {color: #222; font-weight: bold; font-size: 14px;}
#map-container #map .loc-name {font-size: 16px;}

@media screen and (min-width: 720px) {

	#form-container {margin: 20px 0 20px 0;width: 100%;}
	
}

@media screen and (min-width: 1024px) {

	#form-container {margin: 20px 0 20px 0;width: 100%;}
	
}

@media screen and (min-width: 1200px) {

#form-container {margin: 20px 0 20px 0; width: 100%;}
}

